<form method="GET">
    <div id="carouselAllAuthorsIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for author in top_authors %}
            {% if forloop.counter0 == 0 %}
            <li data-target="#carouselAllAuthorsIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#carouselAllAuthorsIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for author in top_authors %}
            {% if forloop.counter0 == 0 %}
            <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                    {% endif %}
                    <button class="btn mx-auto d-block" type="submit" name="author"
                            value="{{ author.genius_id }}" style="height: 60vh;width: 100%;object-fit: contain">
                        <img src="{{ author.image_url }}" alt="{{ author.nickname }}"
                             class="figure-img rounded" style="height: 60vh;width: 100%;object-fit: contain">
                    </button>
                    <div class="card text-center">
                        <div class="card-body" style="padding-bottom: 40px">
                            {{ author.nickname }}
                            {% if author.alternate_nicknames %}
                            <br> Also known as: {{ author.alternate_nicknames|join:", " }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselAllAuthorsIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselAllAuthorsIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</form>
<style>
    .carousel-indicators {
        position: absolute;
        bottom: -10px;
    }

    .carousel-indicators li {
        background-color: #4d4d4d;
    }

    .carousel-indicators .active {
        background-color: black;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
</style>