<h1>{{ picked_author.nickname }}</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card" style="width: 40rem;">
    <img src="{{picked_author.image_url}}" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
        {% if picked_author_song %}
        <li class="list-group-item">
            Najnowsze piosenki
            {% for song in picked_author_song %}
            <form action="" method="GET">
                <button type="submit" name="song" value="{{ song.genius_id }}" id="author_song_button">
                    {{ song.title }}
                </button>
            </form>
            {% endfor %}
        </li>
        {% endif %}
    </ul>
    <div class="card-group">
        <div class="card" style="margin: 0 auto;text-align: center;float: left;line-height: 50px;">
            {% if user.is_authenticated %}
            {% if checkbox_author is True %}
            <form action="{% url 'lajk_author' %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="like_author_id" value="{{ picked_author.genius_id }}"
                        style="font-size:26px;color:red">Lubię to!<i class="fa fa-heart"></i></button>
            </form>
            {% else %}
            <form action="{% url 'lajk_author' %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="like_author_id" value="{{ picked_author.genius_id }}"
                        style="font-size:26px">Nie
                    lubię<i class="fa fa-heart"></i></button>
            </form>
            {% endif %}
            {% else %}
            <button style="font-size:26px" disabled>Lubię to!<i class="fa fa-heart"></i></button>
            {% endif %}
        </div>
        <div class="card">
            <h5 style="text-align: center;line-height: 50px;">
                {% if authors_likes_number == 0 %}
                No one likes this author
                {% elif authors_likes_number == 1 %}
                1 person likes this author
                {% else %}
                {{ authors_likes_number }} people like this author
                {% endif %}
            </h5>
        </div>
    </div>
    <ul class="list-group-left">
        {% if picked_author.facebook_name %}
        <a href="https://www.facebook.com/{{ picked_author.facebook_name }}" target="_blank" class="fa fa-facebook"></a>
        {% endif %}
        {% if picked_author.twitter_name %}
        <a href="https://www.twitter.com/{{ picked_author.twitter_name }}" target="_blank" class="fa fa-twitter"></a>
        {% endif %}
        {% if picked_author.instagram_name %}
        <a href="https://www.instagram.com/{{ picked_author.instagram_name }}" target="_blank"
           class="fa fa-instagram"></a>
        {% endif %}
    </ul>
</div>

<style>
    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: visible;
        outline: none;
    }
</style>