{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>About Page</h1>
<div class="card">
    <h5 class="card-header">Authors</h5>
    <div class="card-body">
        <div class="card-deck">
            <div class="card">
                <img src="{% static 'about/kot1.webp' %}" class="card-img-top" alt="Dejwid">
                <div class="card-body">
                    <h5 class="card-title">Dawid Szarek</h5>
                    <p class="card-text">Zakochał się w bootstrapie</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'about/kot2.webp' %}" class="card-img-top" alt="Mateo">
                <div class="card-body">
                    <h5 class="card-title">Mateusz Sroka</h5>
                    <p class="card-text">Lubi grać na dzbanach</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'about/kot3.webp' %}" class="card-img-top" alt="Ryskakolik">
                <div class="card-body">
                    <h5 class="card-title">Grzegorz Ryskalok</h5>
                    <p class="card-text">Ryskakolik Grzegorz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}