{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    {% if title %}
    <title>Mjuzik - {{ title }}</title>
    {% else %}
    <title>Mjuzik</title>
    {% endif %}
</head>
<body>

<!-- Optional JavaScript -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'mjuzik-home' %}">Mjuzik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'mjuzik-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'mjuzik-authors' %}">Authors</a>
                    <a class="nav-item nav-link" href="{% url 'mjuzik-songs' %}">Songs</a>
                    <a class="nav-item nav-link" href="{% url 'mjuzik-about' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'user-profile' %}">Profile {{ user.username }}</a>
                    <a class="nav-item nav-link" href="{% url 'user-logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'user-login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'user-register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div aria-live="polite" aria-atomic="true" class="justify-content-center align-items-center" id="errorCat">
        <div class="toast" role="alert" data-delay="700" data-autohide="false">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect fill="#007aff" width="100%" height="100%"></rect>
                </svg>
                <strong class="mr-auto" style="font-size: large">No results</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="toast-body">
                <figure class="figure">
                    <img src="{% static 'error_cat.jpg' %}" class="rounded mr-2" alt="Cat screaming and crying">
                    <figcaption class="figure-caption text-center" style="font-size: 100%">
                        No author, nor song matches your search phrase.<br>Please try
                        other query.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-{% if check %}8{% else %}11{% endif %}">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% if check %}

        <div class="col-md-4">
            <div class="content-section">
                <div class="accordion" id="accordionGeneralData">
                    <form method="POST" onsubmit="change_search_button()">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="form-row align-items-end">
                                <div style="width: 75%;">
                                    <label for="searcher">Searcher</label>
                                    <input type="text" class="form-control" placeholder="Enter searched phrase"
                                           name="searcher" id="searcher">
                                </div>
                                <div style="width: 25%;">
                                    <button class="btn btn-primary" type="submit" id="search_button"
                                            style="width: 100%;">
                                    <span id="search_button_spinner" class="spinner-grow spinner-grow-sm" role="status"
                                          aria-hidden="true" style="display: none"></span>
                                        <span id="search_button_text">Search</span>
                                    </button>
                                </div>
                                <fieldset>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="search_checkbox" type="checkbox"
                                               name="download_search" value="1" checked>
                                        <label class="form-check-label" for="search_checkbox">Download
                                            data</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>

                    {% if user.is_authenticated %}

                    <div class="card">
                        <div class="card-header" id="heading1">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Your favorite songs
                                </button>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1"
                             data-parent="#accordionGeneralData">
                            <div class="card-body">
                                <p class='text-muted'>Songs that you liked and you've seen the most
                                <ul class="list-group">
                                    {% if the_best_user_songs %}
                                    {% for song in the_best_user_songs %}

                                    <li class="list-group-item list-group-item-light">
                                        <form method="GET">
                                            <button type="submit" name="song" value="{{ song.genius_id }}"
                                                    id="author_song_button">
                                                {{song.title}}
                                            </button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li class="list-group-item list-group-item-light"> NIE MA W BAZIE NIC!</li>
                                    {% endif %}
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Your favorite authors
                                </button>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2"
                             data-parent="#accordionGeneralData">
                            <div class="card-body">
                                <p class='text-muted'>Authors that you liked and you've seen the most
                                <ul class="list-group">
                                    {% if the_best_user_authors %}
                                    {% for authors in the_best_user_authors %}

                                    <li class="list-group-item list-group-item-light">
                                        <form method="GET">
                                            <button type="submit" name="author" value="{{ authors.genius_id }}"
                                                    id="author_song_button">{{authors.nickname}}
                                            </button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li class="list-group-item list-group-item-light"> NIE MA W BAZIE NIC!</li>
                                    {% endif %}
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Popular authors
                                </button>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse show" aria-labelledby="heading3"
                             data-parent="#accordionGeneralData">
                            <div class="card-body">
                                <p class='text-muted'>Authors with the most number of views
                                <ul class="list-group">
                                    {% if the_best_authors %}
                                    {% for authors in the_best_authors %}

                                    <li class="list-group-item list-group-item-light">
                                        <form method="GET">
                                            <button type="submit" name="author" value="{{ authors.genius_id }}"
                                                    id="author_song_button">{{authors.nickname}}
                                            </button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li class="list-group-item list-group-item-light"> NIE MA W BAZIE NIC!</li>
                                    {% endif %}
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Popular songs
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4"
                             data-parent="#accordionGeneralData">
                            <div class="card-body">
                                <p class='text-muted'>Songs with the most number of views
                                <ul class="list-group">
                                    {% if the_best_songs %}
                                    {% for song in the_best_songs %}

                                    <li class="list-group-item list-group-item-light">
                                        <form method="GET">
                                            <button type="submit" name="song" value="{{ song.genius_id }}"
                                                    id="author_song_button">
                                                {{song.title}}
                                            </button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li class="list-group-item list-group-item-light"> NIE MA W BAZIE NIC!</li>
                                    {% endif %}
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}

        {% endif %}


    </div>

</main>
</body>

<script>
    function change_search_button() {
        $("#search_button_text").text("");
        document.getElementById("search_button").disabled = true;
        document.getElementById("search_button_spinner").style.display = "";
    }
</script>

</html>