{% extends "base.html" %}
{% block content %}
{% load static %}
<script>
    var toast = $('.toast');
    var catToast = $('#errorCat');
    toast.on('hide.bs.toast', function () {
        catToast.css('display', 'none');
    });
    toast.on('show.bs.toast', function () {
        catToast.css('display', 'flex');
    })
</script>
{% if author_results or songs_results %}
<ul class="nav nav-tabs" id="searchResultsTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="author-tab" data-toggle="tab" href="#author" role="tab" aria-controls="author"
           aria-selected="true">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="songs-tab" data-toggle="tab" href="#songs" role="tab" aria-controls="songs"
           aria-selected="false">Songs</a>
    </li>
</ul>
<form method="GET">
    <div class="tab-content" id="searchResultsTabContent">
        <div class="tab-pane fade show active" id="author" role="tabpanel" aria-labelledby="author-tab">
            {% if author_results %}
            <div class="accordion" id="authors_results_accordion">
                {% for author in author_results %}
                <div class="card">
                    <div class="card-header" id="authors_results_{{ forloop.counter0 }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#authors_results_collapse_{{ forloop.counter0 }}"
                                    aria-expanded="true"
                                    aria-controls="#authors_results_collapse_{{ forloop.counter0 }}">
                                {{ author.nickname }}
                            </button>
                        </h2>
                    </div>
                    <div id="authors_results_collapse_{{ forloop.counter0 }}" class="collapse"
                         aria-labelledby="authors_results_{{ forloop.counter0 }}"
                         data-parent="#authors_results_accordion">
                        <button class="btn" type="submit" name="author" value="{{ author.genius_id }}"
                                style="height: 60vh;width: 100%;object-fit: contain">
                            <img src="{{ author.image_url }}" alt="{{ author.nickname }}"
                                 class="figure-img img-fluid rounded"
                                 style="height: 60vh;width: 100%;object-fit: contain">
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%else%}
            No results
            {%endif%}
        </div>
        <div class="tab-pane fade" id="songs" role="tabpanel" aria-labelledby="songs-tab">
            {% if songs_results %}
            <div class="accordion" id="songs_results_accordion">
                {% for song in songs_results %}
                <div class="card">
                    <div class="card-header" id="songs_results_{{ forloop.counter0 }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#songs_results_collapse_{{ forloop.counter0 }}"
                                    aria-expanded="true"
                                    aria-controls="#songs_results_collapse_{{ forloop.counter0 }}">
                                {{ song.title }} - {{ song.nickname }}
                            </button>
                        </h2>
                    </div>
                    <div id="songs_results_collapse_{{ forloop.counter0 }}" class="collapse"
                         aria-labelledby="songs_results_{{ forloop.counter0 }}"
                         data-parent="#songs_results_accordion">
                        <figure class="figure" style="height: 60vh;width: 100%;object-fit: contain">
                            <button class="btn" type="submit" name="song" value="{{ song.genius_id }}"
                                    style="height: 60vh;width: 100%;object-fit: contain">
                                <img src="{{ song.image_url }}" alt="{{ song.title }}"
                                     class="figure-img img-fluid rounded"
                                     style="height: 60vh;width: 100%;object-fit: contain">
                            </button>
                            <figcaption class="figure-caption col-md-10 offset-md-1" style="padding-top: 10px">
                                {{ song.title }} - {{ song.nickname }} <br>From album {{ song.album }}
                            </figcaption>
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%else%}
            No results
            {%endif%}
        </div>
    </div>
</form>
{% else %}
<ul class="nav nav-tabs" id="spotifyTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="worldSpotify-tab" data-toggle="tab" href="#worldSpotify" role="tab"
           aria-controls="worldSpotify"
           aria-selected="true">Spotify World Top 50</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="polandSpotify-tab" data-toggle="tab" href="#polandSpotify" role="tab"
           aria-controls="polandSpotify"
           aria-selected="false">Spotify Poland Top 50</a>
    </li>
</ul>
<div class="tab-content" id="spotifyTabContent">
    <div class="tab-pane fade show active" id="worldSpotify" role="tabpanel" aria-labelledby="worldSpotify-tab">
        <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbMDoHDwVN2tF" width="100%"
                style="height: 70vh;min-height: 300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
    </div>
    <div class="tab-pane fade" id="polandSpotify" role="tabpanel" aria-labelledby="polandSpotify-tab">
        <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbN6itCcaL3Tt" width="100%"
                style="height: 70vh;min-height: 300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
    </div>
</div>
{% if searched %}
<script>$('.toast').toast('show');</script>
{% endif %}
{% endif %}
{% endblock content %}