{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Can't load picture">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Change profile image</h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="id_image" type="file" class="" name="image">
                <button type="submit" value="submit" style="float: right">Upload file</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}