{% load convert_spotify_url %}
<h1>{{picked_song.title}}{% if author %} - {{ author.nickname }}{% endif %}</h1>

<div class="card" width="100%">
    <img src="{{ picked_song.image_url }}" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="padding: 0px">
            <div class="card">
                <div class="card-header">
                    <h3> Author: {% if author %} {{ author.nickname }} {% else %} Unknown {% endif %} </h3>
                </div>
                {% if author %}
                <div class="card-body">
                    <form method="GET">
                        {% if author.image_url %}
                        <button class="btn mx-auto d-block" type="submit" name="author"
                                value="{{ author.genius_id }}"
                                style="height: 100%;width: 100%;object-fit: contain">
                            <img src="{{ author.image_url }}" alt="Author photo"
                                 class="figure-img rounded" style="height: 100%;width: 100%;object-fit: contain">
                        </button>
                        {% else %}
                        <button type="submit" name="author" value="{{ author.genius_id }}">
                            {{ author.nickname }}
                        </button>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
        </li>
        {% if picked_song.album %}
        <li class="list-group-item">
            <h4> Album: {{ picked_song.album }} </h4>
        </li>
        {% endif %}
        {% if picked_song.featured_authors %}
        <li class="list-group-item">
            FEAT:
            {% for authors in featured_authors %}
            <form method="GET">
                <button type="submit" name="author" value="{{ authors.genius_id }}" id="author_song_button">
                    {{ authors.nickname }}
                </button>
            </form>
            {% endfor %}
        </li>
        {% endif %}

        {% if picked_song.youtube_url %}
        <li class="list-group-item">
            <div class="card-body">
                <a href="{{ picked_song.youtube_url }}">{{picked_song.title}}
                    {% if author %} - {{ author.nickname }}{% endif %} on Youtube</a>
            </div>
        </li>
        {% endif %}
        {% if picked_song.spotify_url %}

        <li class="list-group-item" style="padding: 0px">
            <div class="card">
                <div class="card-header">
                    <h3> {{picked_song.title}}{% if author %} - {{ author.nickname }}{% endif %} on Spotify </h3>
                </div>
                {% if author %}
                <div class="card-body">
                    <iframe src="{{ picked_song.spotify_url|convert_spotify_url }}"
                            width="100%"
                            style="height: 70vh;min-height: 300px" frameborder="0" allowtransparency="true"
                            allow="encrypted-media"></iframe>
                </div>
                {% endif %}
            </div>
        </li>
        {% endif %}
    </ul>
</div>

<div class="card">
    <div class="card-header">
        Lyrics
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{ picked_song.lyrics|linebreaksbr }}
        </li>
    </ul>
</div>
<div class="card-header">
    Matrix of self similarity
</div>
{% if similarity_pic %}
<img src="{{ similarity_pic }}" class="card-img-top" alt="...">
{% endif %}

<div class="card-group">
    <div class="card" style="margin: 0 auto;text-align: center;float: left;line-height: 50px;">
        {% if user.is_authenticated %}
        {% if checkbox_song is True %}
        <form action="{% url 'lajk_song' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="like_song_id" value="{{ picked_song.genius_id }}"
                    style="font-size:26px;color:red">
                Lubię to!<i class="fa fa-heart"></i></button>
        </form>
        {% else %}
        <form action="{% url 'lajk_song' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="like_song_id" value="{{ picked_song.genius_id }}" style="font-size:26px">Nie
                lubię<i
                        class="fa fa-heart"></i></button>
        </form>
        {% endif %}
        {% else %}
        <button style="font-size:26px" disabled>Lubię to!<i class="fa fa-heart"></i></button>
        {% endif %}
    </div>
    <div class="card">
        <h5 style="text-align: center;line-height: 50px;">
            {% if songs_likes_number == 0 %}
            No one likes this song
            {% elif songs_likes_number == 1 %}
            1 person likes this song
            {% else %}
            {{ songs_likes_number }} people like this song
            {% endif %}
        </h5>
    </div>
</div>

<style>
    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: visible;
        outline: none;
    }
</style>